# Open-Pit Mine Problem

***

# Dataset Newman1
### Blocks file

In [1]:
import pandas as pd
import numpy as np

newman1 = "C:/Users/Deivid/Downloads/Notebooks, caixote, indíces/Notebook Newman1/newman1_files/newman1.blocks/Newman1.caixote.csv"

blockmodel = pd.read_csv(newman1, sep=',')

blockmodel.rename(columns={'tonns': 'mass','value_extracc': 'v_waste','value_proc':'v_process'}, inplace=True)

blockmodel

       x   y   z  grade  mass  v_waste  v_process
0      0   0   0    0.0   0.0      0.0        0.0
1      0   0   1    0.0   0.0      0.0        0.0
2      0   0   2    0.0   0.0      0.0        0.0
3      0   0   3    0.0   0.0      0.0        0.0
4      0   0   4    0.0   0.0      0.0        0.0
...   ..  ..  ..    ...   ...      ...        ...
9403  21  21  16    0.0   0.0      0.0        0.0
9404  21  21  17    0.0   0.0      0.0        0.0
9405  21  21  18    0.0   0.0      0.0        0.0
9406  21  21  19    0.0   0.0      0.0        0.0
9407  21  21  20    0.0   0.0      0.0        0.0

[9408 rows x 7 columns]

### Filling density values ​​and standardizing columns

In [2]:
blockmodel['mass'] = blockmodel['mass'].replace(0, 5664)
blockmodel['v_waste'] = blockmodel['v_waste'].replace(0, -6003.84)
blockmodel['v_process'] = blockmodel['v_process'].replace(0, -64793.1408)

blockmodel['density'] = (blockmodel['mass'])/(10*10*10)

blockmodel['value'] = np.where(blockmodel['v_process'] > 0, blockmodel['v_process'], blockmodel['v_waste'])

blockmodel.rename(columns={'x': 'xi','y': 'yi','z':'zi'}, inplace=True)

blockmodel['id'] = range(1, len(blockmodel) + 1)

blockmodel

      xi  yi  zi  grade    mass  v_waste   v_process  density    value    id
0      0   0   0    0.0  5664.0 -6003.84 -64793.1408    5.664 -6003.84     1
1      0   0   1    0.0  5664.0 -6003.84 -64793.1408    5.664 -6003.84     2
2      0   0   2    0.0  5664.0 -6003.84 -64793.1408    5.664 -6003.84     3
3      0   0   3    0.0  5664.0 -6003.84 -64793.1408    5.664 -6003.84     4
4      0   0   4    0.0  5664.0 -6003.84 -64793.1408    5.664 -6003.84     5
...   ..  ..  ..    ...     ...      ...         ...      ...      ...   ...
9403  21  21  16    0.0  5664.0 -6003.84 -64793.1408    5.664 -6003.84  9404
9404  21  21  17    0.0  5664.0 -6003.84 -64793.1408    5.664 -6003.84  9405
9405  21  21  18    0.0  5664.0 -6003.84 -64793.1408    5.664 -6003.84  9406
9406  21  21  19    0.0  5664.0 -6003.84 -64793.1408    5.664 -6003.84  9407
9407  21  21  20    0.0  5664.0 -6003.84 -64793.1408    5.664 -6003.84  9408

[9408 rows x 10 columns]

### Conversão Coordenada Índice

In [3]:
def coord2index(df, O, D, cols=['xi', 'yi', 'zi']):
    data = [D[i]*(df[cols].iloc[:, i] - 0.5) + O[i] for i in range(3)]
    return pd.DataFrame(data, index = ['x', 'y', 'z']).T

D = [10, 10, 10]  
O = [0, 0, 0]          

dados_em_index = coord2index(blockmodel, O, D)

blockmodel  = pd.concat([dados_em_index, blockmodel], axis = 1).round(2)

colunas_ordenadas = ['id', 'x', 'y', 'z','xi','yi','zi','grade','density', 'mass', 'v_process', 'v_waste', 'value']

blockmodel = blockmodel[colunas_ordenadas]

blockmodel.to_csv("Newman1.blocks.csv", index=False)

blockmodel

,id,x,y,z,xi,yi,zi,grade,density,mass,v_process,v_waste,value
0,1,-5.0,-5.0,-5.0,0,0,0,0.0,5.66,5664.0,-64793.14,-6003.84,-6003.84
1,2,-5.0,-5.0,5.0,0,0,1,0.0,5.66,5664.0,-64793.14,-6003.84,-6003.84
2,3,-5.0,-5.0,15.0,0,0,2,0.0,5.66,5664.0,-64793.14,-6003.84,-6003.84
3,4,-5.0,-5.0,25.0,0,0,3,0.0,5.66,5664.0,-64793.14,-6003.84,-6003.84
4,5,-5.0,-5.0,35.0,0,0,4,0.0,5.66,5664.0,-64793.14,-6003.84,-6003.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9403,9404,205.0,205.0,155.0,21,21,16,0.0,5.66,5664.0,-64793.14,-6003.84,-6003.84
9404,9405,205.0,205.0,165.0,21,21,17,0.0,5.66,5664.0,-64793.14,-6003.84,-6003.84
9405,9406,205.0,205.0,175.0,21,21,18,0.0,5.66,5664.0,-64793.14,-6003.84,-6003.84
9406,9407,205.0,205.0,185.0,21,21,19,0.0,5.66,5664.0,-64793.14,-6003.84,-6003.84
9407,9408,205.0,205.0,195.0,21,21,20,0.0,5.66,5664.0,-64793.14,-6003.84,-6003.84

### Plotting the content graph

In [4]:
import numpy as np
import pandas as pd
import k3d

# Filtra os blocos com grade válida
df_filtrado = blockmodel.dropna(subset=['grade'])

# Normaliza coordenadas para índices contínuos
x_vals = np.sort(df_filtrado['x'].unique())
y_vals = np.sort(df_filtrado['y'].unique())
z_vals = np.sort(df_filtrado['z'].unique())

x_map = {val: i for i, val in enumerate(x_vals)}
y_map = {val: i for i, val in enumerate(y_vals)}
z_map = {val: i for i, val in enumerate(z_vals)}

nx, ny, nz = len(x_vals), len(y_vals), len(z_vals)
grid = np.zeros((nx, ny, nz), dtype=np.float32)

# Preenche a grade com valores de grade
for _, row in df_filtrado.iterrows():
    xi = x_map[row['x']]
    yi = y_map[row['y']]
    zi = z_map[row['z']]
    grid[xi, yi, zi] = row['grade']

# Normaliza os valores para 0–255 para usar como índice de cor
normalized = ((grid - grid.min()) / (grid.max() - grid.min()) * 255).astype(np.uint8)

# Cria uma paleta de cores tipo Turbo (simplificada)
def turbo_palette():
    import matplotlib.pyplot as plt
    cmap = plt.get_cmap('turbo')
    return [int('0x' + ''.join(f'{int(c*255):02x}' for c in cmap(i/255)[:3]), 16) for i in range(256)]

colors = turbo_palette()

# Cria o plot interativo
plot = k3d.plot()
voxel_obj = k3d.voxels(normalized, color_map=colors, outlines=False)
plot += voxel_obj
plot.display()

Output()

### Plotting the mineral body content graph